#react-root {
  height: 100vh;
  width: 100vw;
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.section-murrays_list {
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
}
.section-murrays_list > li {
  list-style: none;
}
