.App {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.Square {
  border: 2px solid red;
  height: 200px;
  width: 200px;
  background-color: blue;
}

.red {
  background-color: red;
}
