.Counter {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.Number {
  font-size: 24px;
  margin-right: 50px;
  font-weight: bolder;
}

.Btn {
  font-size: 20px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}
