.app {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.age-radio {
  display: flex;
  flex-direction: row;
}
#form--name,
#form--description {
  margin-bottom: 20px;
}
